.zr-virtual-list {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.placeholder {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  user-select: none;
}

.virtual-item-wrapper {
  position: relative;
  will-change: auto;
  transform: translateZ(0);
}
