#example {
  font-family: sans-serif;
  text-align: center;
}

.render-count {
  margin-bottom: 10px;
}

.radio {
  padding: 0 4px;
  margin-left: 6px;
  cursor: pointer;
  user-select: none;
}

.radio.checked {
  color: #fff;
  background: #2196f3;
}
