.header {
  width: calc(100% - 16px);
  max-width: 600px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #ccc;
  background: #fff;
  z-index: 1;
}

.scroll-container {
  margin-top: 248px;
  animation: show 0.1s ease-in;
  overflow-x: hidden;
  overflow-y: auto;

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .list {
    margin: 10px 0;
  }

  .item {
    padding: 10px 0;
    font-size: 30px;
    border-bottom: 1px solid #ccc;
    background-color: #ffc107;

    .image {
      width: auto;
      height: 150px;
    }
  }

  .item-2n {
    background-color: #00bcd4;
  }
}
