.zr-virtual-list {
  width: 100%;
}

.virtual-item-wrapper {
  position: relative;
  will-change: auto;
  transform: translateZ(0);
}

.virtual-item-wrapper.hidden > .virtual-item-content {
  display: none;
}
