#scroll-container {
  height: 500px;
  overflow-y: auto;
}

.list {
  margin: 10px 0;
}

.item {
  padding: 10px 0;
  font-size: 30px;
  border-bottom: 1px solid #ccc;
  background-color: #ffc107;
}

.item-2n {
  background-color: #00bcd4;
}
